{% extends 'servise/base.html'%}

{% block content %}
<section class="py-5 text-center container">
    <h1 class="fw-light">Рассылки</h1>
</section>


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-12 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'servise:Mailcreate' %}">Добавить Рассылку</a>
        </div>
        {% for object in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center button">
                        <p class="card-text">{{object|title}}</p>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'servise:Mailupdate' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">update</a>
                        <a href="{% url 'servise:Maildelete' object.pk %}" type="button"
                            class="btn btn-sm btn-outline-secondary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}